{% extends "layout.html" %}
{% block content %}
<style>
    body{
        width: 100%;
        height: 700px;
        background-image: url('../static/kitchen_fade.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .btn-container{
    margin-top: 30px;
    text-align: center;
    }

    .button {
        border: none;
        color: white;
        padding: 8px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        margin: 2px 1px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
        z-index: 9;
    }
    
    .button1 {
        background-color: white; 
        color: black; 
        border: none;
    }
    
    .button1:hover {
        background-color: #f8a81d;
        color: white;
    }
    .parallax{
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        background-image: url('../static/Archetype_back_fade.jpg');
        background-attachment: fixed;
    }
    
    .text-block{
        width:100%;
        opacity:0.95;
        margin-top: 285px;
        padding-left: 225px;
        padding-right: 225px;
        padding-bottom: 300px;
    }

    .myDiv{
        display:none;
    } 
    
</style>

<div class="text-block">
    <div class="jumbotron"style="padding-left: 8%; padding-right: 8%">

        <h1 class="display-4" style="color:rgb(0,163,175); font-size: 50px;">Calculation Results</h1>
        <p >This page provides estimated heat loss and suggested heat pump switchover temperature based on the user inputs.</p>
        <hr class="my-4">
      
          <h5>Parameter Inputs</h5>

          <div class="row">
            <div class="col" align="left">
              Total annual gas use of the home:
            </div>
            <div class="col">
            <b>{{gasuse_total}} m<sup>3</sup></b>
            </div>
          </div>

          <div class="row">
              <div class="col" align="left">
                Annual gas usage for hot water:
              </div>
              <div class="col">
                <b>{{dhw_annual}} m<sup>3</sup></b>
              </div>
          </div>

          <div class="row">
              <div class="col" align="left">
                Balance Temperature:
              </div>
              <div class="col">
                <b>{{balance_point}} &deg;C</b>
              </div>
          </div>

          <div class="row">
              <div class="col" align="left">
                Furnace Efficiency:
              </div>
              <div class="col">
                <b>{{furnace_eff}} %</b>
              </div>
          </div>

          <div class="row">
              <div class="col" align="left">
                Safety Margin:
              </div>
              <div class="col">
                <b>{{derate}} %</b>
              </div>
          </div>

          <div class="row">
              <div class="col" align="left">
                Location:
              </div>
              <div class="col">
                <b>{{location}}</b>
              </div>
          </div>

          <div class="row">
            <div class="col" align="left">
              Heat Pump Size(s):
            </div>
            <div class="col">
              {% for item in heatpumpsize %}
                <b> {{ item }} ton<br> </b>
              {% endfor %}
            </div>
          </div>

          <div class="row">
            <div class="col" align="left">
              Custom heat pump capacity data:
            </div>
            <div class="col">
              <b>{{heatpumpcap_17}} kBTU/hr at -8.3 &deg;C</b><br>
              <b>{{heatpumpcap_47}} kBTU/hr at 8.3 &deg;C</b>
            </div>
          </div>

          <hr class="my-4">
          <h5>Results</h5>
    
          <div class="row">
            <div class="col" align="left">
              Heat Loss at Design Temperature:
            </div>
            <div class="col">
              <b>{{heatloss_design}} kBTU/hr at {{dtemp}} &deg;C</b>
            </div>
          </div>

          <div class="row">
            <div class="col" align="left">
              Estimated Heat Pump Switchover Temperature(s):
            </div>
            <div class="col">
              {% for item,size in ziplist %}       
                  <b> {{ item }} &deg;C for {{ size }} ton heat pump<br> </b>
              {% endfor %}
            </div>
          </div>

          <div class="row">
            <div class="col" align="left">
              Estimated Heat Pump Switchover Temperature (for custom input data):
            </div>
            <div class="col">
              <b>{{switchtemp}} &deg;C</b>
            </div>
          </div>
          <br>
          <img src={{heatloss_url}} alt="" style="display: block; margin-left: auto; margin-right: auto; width: 65%;">
        
        <hr class="my-4">    
        {% endblock content %} 
    </div> 
</div>
